<div class="login center-block">
  <h2>Log in to Mike</h2>
  
  <div class="login-content">
    <%= form_tag session_index_path, role: 'form' do %>
      <div class="form-group">
        <label for="login">Email address</label>
        <%= text_field_tag :login, nil, type: 'email', class: 'form-control', placeholder: 'Enter email' %>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <%= text_field_tag :password, nil, type: 'password', class: 'form-control', placeholder: 'Password' %>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
  </div>
</div>